<%- include("partials/header") -%>

    <div id="register-area" class="wrapper">
        <h2 class=" mb-3 text-center">Register</h2>
        <form action="/register" method="post">
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Enter email address">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Enter password" />
            </div>
            <button type="submit" class="btn btn-block btn-danger">Register</button>
        </form>


        <hr>
        OR
        <hr>

        <a href="/auth/google" class="btn btn-block btn-light">Register With Google</a>

    </div>

    <%- include("partials/footer") -%>